{% extends 'events/base.html' %}

{% block content %}


    {% if user.is_authenticated %}

    <center>
        <h1>Add a new Event</h1>
    </center>

        {% if submitted %}

        <h2>Your event has been submitted successfully.</h2>

        <a class="btn btn-secondary" href="{% url 'add-event' %}" role="button">Add another event</a>

        {% else %}

            <form action='' method=POST>
                {% csrf_token %}

                {{form.as_p}}

                <input type="submit" value="Submit" class="btn btn-secondary">
                <a href="{% url 'list-event' %}" class="btn btn-danger">Cancel Submission</a>
            </form>
            {% endif %}

    {% else %}

    <center>

    <h1><a href="{% url 'register-user'%}">Sign up </a>or <a href="{% url 'login-user' %}">Log in</a> to create and view events!</h1>

    </center>

    {% endif %}

{% endblock %}
