{% extends 'events/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

    <h1>Events</h1>
    <br><br>

    {% for event in event_list %}

    <div class="card">
        <div class="card-header">
            <h1 class="col-md-10">{{event.name}}</h1>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{event.venue.name}}</h4>
            <h4 class="card-text">{{event.event_date}}</h4>
            <h5 class="card-text">Hosted by {{event.manager}}</h5>
            <p class="card-text">{{event.description}}</p>
            <h5 class="card-text">Guest List</h5>
            <ul>
            {% for user in event.attendees.all %}
            <li class="card-text">{{ user.first_name }} {{ user.last_name }}</li>
            {% endfor %}
            </ul>
        </div>
        {% if user == event.manager %}
        <div class="card-footer text-muted">
            <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary col-md-1">Update</a>
            <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger col-md-1">Delete</a>
        </div>
        {% endif %}
    </div>

    <br><br><br>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col-4">
        <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if event_list.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo;First</a></li>
            <li class="page-item"><a href="?page={{event_list.previous_page_number}}" class="page-link">&lt;Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a href="?page=1" class="page-link">&laquo;First</a></li>
            <li class="page-item disabled"><a href="?page=#" class="page-link">&lt;Previous</a></li>
            {% endif %}

            <li class="page-item disabled"><a href="#" class="page-link">Page {{event_list.number}} of {{event_list.paginator.num_pages}}</li></a>

            {% if event_list.has_next %}
            <li class="page-item"><a href="?page={{event_list.next_page_number}}" class="page-link">Next&gt;</a></li>
            <li class="page-item"><a href="?page={{event_list.num_pages}}" class="page-link">Last&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a href="?page=#" class="page-link">Next&gt;</a></li>
            <li class="page-item disabled"><a href="?page={{event_list.num_pages}}" class="page-link">Last&raquo;</a></li>
            {% endif %}
        </ul>
        </nav>
        </div>
    </div>

    {% else %}

    <center>

    <h1><a href="{% url 'register-user'%}">Sign up </a>or <a href="{% url 'login-user' %}">Log in</a> to create and view events!</h1>

    </center>

    {% endif %}
{% endblock %}
