<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' '2021' 'March' %}">March</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'list-event' %}">Events List</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'add-event' %}">Add Event</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Venue
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'list-venue' %}">Venue List</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'add-venue' %}">Add Venue</a>
            </li>
            {% if user.is_authenticated %}
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{% url 'venue-text' %}">Download Venue Text</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'venue-csv' %}">Download Venue CSV</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'venue-pdf' %}">Download Venue PDF</a>
            </li>
            {% endif %}
          </ul>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{user.username}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'logout-user' %}">Logout</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login-user' %}">Login</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'register-user' %}">Register</a>
        </li>
        {% endif %}
      </ul>


      <form class="d-flex" role="search" method="POST" action="{% url 'search-venue' %}">
      {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Venue" aria-label="Search" name="SearchBar">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
