{% extends 'events/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="card">
        <div class="card-header">
            <h1>{{venue.name}}</h1>
        </div>
        <div class="card-body">
            <h3 class="card-title">Owned by: {{venue_owner}}</h3>
            <h4 class="card-title">{{venue.address}}</h4>
            <h4 class="card-text">Zip Code: {{venue.zip_code}}</h4>
            <h5 class="card-text">{{venue.phone}}</h5>
            <h5 class="card-text">{{venue.email}}</h5>
            <h5 class="card-text"><a href="{{venue.web}}">{{venue.web}}</a></h5>
        </div>
    </div>

    {% else %}

    <center>

    <h1><a href="{% url 'register-user'%}">Sign up </a>or <a href="{% url 'login-user' %}">Log in</a> to create and view venues!</h1>

    </center>

    {% endif %}

{% endblock %}
