{% extends 'events/base.html' %}

{% block content %}

    <h1>Venues</h1>



    {% for venue in venue_list %}

        <div class="col-sm-3">
            <div class="card">
                <h5 class="card-header">{{venue.name}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{venue.address}}</h5>
                    <p class="card-text">{{venue.zip_code}}</p>
                    <a href="{% url 'show-venue' venue.id %}" class="btn btn-primary">Check it out</a>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}
