{% extends 'events/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

    <h1>Venues</h1>

    <div class="row">

    {% for venue in venue_list %}

        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <h5 class="card-header">{{venue.name}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{venue.address}}</h5>
                    <p class="card-text">{{venue.zip_code}}</p>
                    <div class="btn-group" role="group">
                    <a href="{% url 'show-venue' venue.id %}" class="btn btn-outline-primary">Check it out</a>
                    <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary">Update</a>
                    <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>

    {% else %}

    <center>

    <h1><a href="{% url 'register-user'%}">Sign up </a>or <a href="{% url 'login-user' %}">Log in</a> to create and view venues!</h1>

    </center>

    {% endif %}

{% endblock %}
